<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/start_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/start_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mood">
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".HistoryToday"
            android:exported="false" />
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".baobao"
            android:exported="false" />
        <activity
            android:name=".write"
            android:exported="false" />
        <activity
            android:name=".press"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".start"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main"
            android:exported="true"/>

    </application>

</manifest>